#logo {
  height: 60px;
  width: 60px;
  position: relative;
  left: 220px;
  border-radius: 4px;
  position: relative;
  left: 320px;
}
body {
  background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
  background-color: mediumspringgreen;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}
.main-container {
  align-items: center;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.container {
  background: url('src/bg.jpg') no-repeat center center/cover;
  /* background-color: yellow; */
  height: 80vh;
  width: 500px;
  position: relative;
  left: 100px;
  padding: 1px;
  overflow-y: auto;
  border-radius: 10px;
}
.send {
  width: 700px;
}
#messageInp {
  position: relative;
  width: 442px;
}
.message {
  width: auto;
  height: auto;
  padding: 2px 7px;
  margin: 10px 15px;
  border: 2px solid gray;
  background-color: rgb(212, 255, 184);
  border-radius: 8px;
}
.left {
  float: left;
  clear: both;
  background-color: rgb(255, 255, 255);
}

.right {
  float: right;
  clear: both;
}
.send {
  position: relative;
  left: 100px;
  bottom: 17px;
}
